<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-auto">
      <h2>Discrete Fourier transform</h2>
    </div>
    <div class="col-auto">
      <button class="btn btn-secondary" (click)="openWaveSelectorModal()">Generate</button>
    </div>
    <div class="col-auto">
      <button class="col-auto btn btn-danger" (click)="playSound(sourceData)">Record</button>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-auto h3">Source wave</div>
        <div class="col-auto">
          <button class="btn btn-secondary" (click)="playSound(sourceData)">Play</button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-auto h3">DFT-generated wave</div>
        <div class="col-auto">
          <button class="btn btn-secondary" (click)="playSound(fourierData)">Play</button>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-auto">
      <h3>DFT detected</h3>
    </div>
    <div class="col-auto">
      <div class="row">
        <div class="col-auto" *ngFor="let freq of detectedFreqs">
          <div class="shadow-sm badge bg-warning text-dark mt-1 fs-6" style="cursor:pointer;"
               (click)="playFreq(freq)">{{freq}} Hz
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-6 col-md-12">
      <canvas id="sourceChart"></canvas>
    </div>
    <div class="col col-lg-6 col-md-12">
      <canvas id="resultChart"></canvas>
    </div>
  </div>
</div>

<!-- MODALS -->
<app-wave-selector class="modal" (generatedWave)="updateSourceWave($event)" #waveSelectorModal></app-wave-selector>
