<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-auto">
      <h2>Discrete Fourier transform</h2>
    </div>
    <div class="col-auto">
      <button class="btn btn-secondary" (click)="openWaveSelectorModal()">Generate</button>
    </div>
    <div class="col-auto">
      <button class="col-auto btn btn-danger" (click)="openWaveRecorderModal()">Record</button>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-auto h3">Source wave</div>
        <div class="col-auto">
          <button class="btn btn-secondary" (click)="playSound(sourceData)" [disabled]="sourceData.length <= 0">
            Play
          </button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-auto h3">DFT-generated wave</div>
        <div class="col-auto">
          <button class="btn btn-secondary" (click)="playSound(fourierData)" [disabled]="fourierData.length <= 0">
            Play
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-auto">
      <h3>DFT detected</h3>
    </div>
    <div class="col-auto">
      <div class="row">
        <div class="col-auto mb-2" *ngFor="let dftItem of detectedDftItems">
          <div class="shadow-sm badge bg-transparent text-dark mt-1 fs-6 position-relative pointer"
               (click)="playFreq(dftItem.frequency)">
            <div class="progress progress-bar-dft">
              <div class="progress-bar"
                   [style]="{width: math.min(dftItem.amplitude / 0.6 * 100, 100) + '%'}"
                   (click)="playFreq(dftItem.frequency)">
              </div>
            </div>
            <span>{{math.ceil(dftItem.frequency)}} Hz ({{dftItem.note}})</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-6 col-md-12">
      <canvas #sourceChart></canvas>
    </div>
    <div class="col col-lg-6 col-md-12">
      <canvas #fourierChart></canvas>
    </div>
  </div>
</div>

<!-- MODALS -->
<app-wave-selector class="modal" (generatedWave)="updateSourceWave($event)" #waveSelectorModal></app-wave-selector>
<app-wave-recorder class="modal" (generatedWave)="updateSourceWave($event)" #waveRecorderModal
                   data-bs-backdrop="static" data-bs-keyboard="false"></app-wave-recorder>
